
<div class="section hero">
    <div class="container">
      <div class="row">
        <div class="one-half column">
          <h5 class="">Enterprise In-House App distribution.</h6>
          <a class="button button-primary" style="font-size: 100;" href="itms-services://?action=download-manifest&url=https://hsiao_weiting.gitlab.io/app_deliver/manifest_test.plist">rlc_wisdom test</a><br />
          <a class="button button-primary" style="font-size: 100;" href="itms-services://?action=download-manifest&url=https://hsiao_weiting.gitlab.io/app_deliver/manifest_real.plist">rlc_wisdom real</a>
        </div>
      </div>
    </div>
  </div>